<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Scraper</title>
    <meta name="description" content="See whom do you chat the most.">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;{{ url_for('static', filename='img/dogs/image3.jpeg') }}&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body text-center shadow">
                                            <img class="mb-3 mt-4" src="{{ url_for('static', filename='img/logos/WhatsApp_Logo_4.png') }}" width="264" height="264" id="qr-code"/>
                                            <div class="mb-3">
                                                <button class="btn btn-primary btn-sm" type="button" onclick="generate()">
                                                    <div class="d-flex align-items-center">
                                                        <span class="" role="status" aria-hidden="true" id="spinner"></span>
                                                        Generate
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function generate() {
            document.getElementById('spinner').classList.add('spinner-border','spinner-border-sm', 'mr-2');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ url_for('generate')}}');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                document.getElementById('qr-code').src = xhr.responseText;
                document.getElementById('spinner').classList.remove('spinner-border','spinner-border-sm', 'mr-2');
                verifyScan();
            };
            xhr.send();
        }
    </script>

    <script>
        window.onload = function() {
            generate();
        };
    </script>

    <script>
        function verifyScan() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ url_for('verify_scan')}}');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                console.log(xhr.responseText);
                if (xhr.responseText == "verified") {
                    window.location.replace("{{ url_for('dashboard')}}");
                }
                document.getElementById('qr-code').src = xhr.responseText;
                verifyScan();
            };
            xhr.send();
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>

</html>
